#fm-inform {
  .inform-textarea {
    width: 100%;
    height: 100%;
  }
}
#fm-update-version {
  input#version {
    border-radius: 0px;
    margin-left: 5px;
  }
  .fm-submit-version {
    border-radius: 0px;
    margin-left: 5px;
  }
}
